<header class="header">
  <h2 class="header__toolbar">
    <div class="icon"><img src="assets/icons/arrow-left.svg" alt="Back" /></div>
    <span class="header__back">Back to adventure</span>
  </h2>
  <div class="header__toolbar toolbar">
    <button class="icon toolbar__icon mandatory">
      <img src="assets/icons/save.svg" alt="Save" title="Save" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/import.svg" alt="Import" title="Import" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/export.svg" alt="Export" title="Export" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/three-dots.svg" alt="More" title="More" />
    </button>
  </div>
</header>

<div class="container">
  <div class="title">
    <h1>
      <img src="assets/icons/earth.svg">
      World Info
    </h1>
  
    <div class="guide">
      <div class="guide__intro">
        <p>Here you can <strong>add world</strong> info entries (comma separated keys and an entry) to shape what the AI knows about the world and hidden info the player doesn't see.</p>
        <p class="mute">
          <em>
            An <strong>entry</strong> is included in what's fed into the AI if one of the keys is detected (case doesn't matter) in the last output or input.
          </em>
        </p>
      </div>

      <ul class="guide__features">
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <strong>Download</strong> world info file <i class="mute">( .json )</i> to your local drive.
            <i class="mute">You can edit it just like a simple text file.</i>
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Upload</span> world info file from your local drive to this adventure.
            <i>Current world info will be <strong>replaced!</strong></i>
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            Save your current world info with latest changes.
            <i class="mute">You added one or a few new entries - <strong>press save.</strong></i>
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Create</span> new card, field in card or folder.
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Delete</span>
            selected card from this world info. AI will forget about this entry with some time.
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Drag and drop</span>
            card to new place or folder.
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Duplicate</span>
            current card to active folder. <i class="mute">Make quick variations with some changes.</i>
          </span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">
            <span class="mandatory">Clear</span>
            all card’s fields to default type.
            <i class="mute">Custom fields will be deleted.</i>
          </span>
        </li>
        <li class="guide__feature feature">
          <span class="mandatory feature__icon"></span>
          <div class="feature__dash">—</div>
          <span class="feature__description">You need to <strong>save</strong> current world info to apply this changes.</span>
        </li>
        <li class="guide__feature feature">
          <i class="feature__description">
            For more info or help go to official AIDungeon forum
            <a class="ref" href="/">via this link -></a>
          </i>
        </li>
      </ul>
    </div>

    <ul class="tabs">
      <li class="tabs__tab tab">
        <a class="tab__content">World</a>
      </li>
      <li class="tabs__tab tab tab--selected">
        <a class="tab__content">Regions</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Places</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Races</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Classes</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Characters</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Items</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Skills</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Events</a>
      </li>
      <li class="tabs__tab tab">
        <a class="tab__content">Custom</a>
      </li>
    </ul>
  </div>
</div>
