<header class="header">
  <h2 class="header__toolbar">
    <div class="icon"><img src="assets/icons/arrow-left.svg" alt="Back" /></div>
    <span class="header__back">Back to adventure</span>
  </h2>
  <div class="header__toolbar toolbar">
    <button class="icon toolbar__icon icon--mandatory">
      <img src="assets/icons/save.svg" alt="Save" title="Save" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/import.svg" alt="Import" title="Import" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/export.svg" alt="Export" title="Export" />
    </button>
    <button class="icon toolbar__icon">
      <img src="assets/icons/three-dots.svg" alt="More" title="More" />
    </button>
  </div>
</header>

<div class="container">
  <div class="title">
    <h1>
      <img src="assets/icons/earth.svg">
      World Info
    </h1>
  
    <div class="guide">
      <div class="guide__intro">
        <p>Here you can <strong>add world</strong> info entries (comma separated keys and an entry) to shape what the AI knows about the world and hidden info the player doesn't see.</p>
        <p class="mute">
          <em>
            An <strong>entry</strong> is included in what's fed into the AI if one of the keys is detected (case doesn't matter) in the last output or input.
          </em>
        </p>
      </div>

      <ul class="guide__features">
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Download world info file ( .json ) to your local drive. You can edit it just like a simple text file.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Upload* world info file from your local drive to this adventure. Current world info will be replaced!</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Save your current world info with latest changes. You added one or a few new entries - press save.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Create* new card, field in card or folder.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Delete* selected card from this world info. AI will forget about this entry with some time.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Drag and drop* card to new place or folder.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Duplicate* current card to active folder. Make quick variations with some changes.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">Clear* all card’s fields to default type. Custom fields will be deleted.</span>
        </li>
        <li class="guide__feature feature">
          <img src="assets/icons/save.svg" alt="" class="icon feature__icon">
          <div class="feature__dash">—</div>
          <span class="feature__description">You need to save current world info to apply this changes.</span>
        </li>
        <li class="guide__feature feature">
          <span class="feature__description">For more info or help go to official AIDungeon forum via this link -></span>
        </li>
      </ul>
    </div>
  </div>
</div>
