@import "./assets/icons/css/icons-all-codes";

$color-dark: #484E59;
$color-darker: #343943;
$color-darkest: #2C2F36;
$color-grey: #7E8792;
$color-grey-lighter: #B9BDC4;
$color-grey-lightest: #CDD2DA;
$color-accent: #4EA7FA;
$color-primary: #F4C54D;
$color-gradient: linear-gradient(90deg,#F2CD4B 0%, #F174BF 22.92%, #4C54FF 70%, #6CD3FF 100%);

@font-face {
  font-family: 'icons-all';
  src: url('./assets/icons/font/icons-all.eot?73690718');
  src: url('./assets/icons/font/icons-all.eot?73690718#iefix') format('embedded-opentype'),
       url('./assets/icons/font/icons-all.woff2?73690718') format('woff2'),
       url('./assets/icons/font/icons-all.woff?73690718') format('woff'),
       url('./assets/icons/font/icons-all.ttf?73690718') format('truetype'),
       url('./assets/icons/font/icons-all.svg?73690718#icons-all') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 24px;
}
 
[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: "icons-all";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}

@keyframes live-background {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.glowing {
  background: $color-gradient;
  background-size: 800% 800%;
  animation: live-background 4s linear infinite;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

small {
  font-size: 14px;
  font-weight: 700;
}

body {
  min-height: 100vh;
  background: $color-darkest;
  color: $color-grey-lightest;
}

p {
  margin: 16px 0;
}

.ref {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__toolbar {
    display: inline-flex;
    align-items: center;
    color: $color-grey;
  }

  &__back {
    margin-left: 15px;
  }
}

.toolbar {
  color: $color-grey-lighter;

  &__icon + &__icon {
    margin-left: 25px;
  }
}

.mandatory {
  position: relative;
  font-weight: bold;

  &::after {
    content: '*';
    color: $color-primary;
    // position: absolute;
    // right: 0;
    // top: 0px;
    // z-index: 1;
  }
}

.icon {
  display: inline-block;
}

button.icon {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
}

.mute {
  color: $color-grey;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

// .guide {
//   &__intro {
//     margin-right: 300px;
//   }
// }

@media screen and (min-width: 1025px) {
  .guide {
    &__intro {
      margin-right: 300px;
    }
  }
}

.guide__features {
  list-style-type: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  display: inline-flex;
  width: 50%;
  align-items: center;
  margin: 15px 0;
  padding: 0 15px;

  &__icon {
    width: 30px;
    display: inline-flex;
    justify-content: center;
  }

  &__dash {
    margin: 0 15px;
  }

  &__description {}
}

.tabs {
  $border-width: 2px;

  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: $border-width solid $color-dark;

  &__tab {
    display: inline-block;
    margin-top: $border-width;

    &:hover {
      margin-top: 0;
      margin-bottom: -$border-width;
    }
  }

  &__tab + &__tab {
    margin-left: 3px;
  }
}

.tab {
  $border-width: 3px;

  background-color: $color-darker;
  font-size: 14px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;

  &,
  &::after {
    transition: .3s ease all;
  }

  &__content {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 15px;
  }

  &--selected {
    background-color: $color-dark;
    color: $color-primary;
  }

  &::after {
    @extend .glowing;

    bottom: 0;
    left: 0;
    display: block;
    height: 0;
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  &:hover::after {
    height: $border-width;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
